*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
    color: black;
}

/*------------------------------------------------------*/

/*header*/
.content__menu{
    background-color: hsl(359, 51%, 41%);
}

/*div*/
.outer-wrap{
    margin: 0 auto;
    max-width: 1200px;
}

/*div*/
.inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*div*/
.main__logo a{
    font-size: 2.5em;
    color: #fff;
    letter-spacing: -.2em;
}

/*ul*/
.main__menu{
    display: flex;
}

/*a*/
.main__menu__links{
    display: block;
    padding: 1.2em;
    /* Styles */
    font-size: 1.2em;
    background-color: hsl(359, 51%, 41%);
    color: hsl(60, 100%, 99%);;
}

.main__menu__links:hover{
    background-color: hsl(359, 49%, 31%); 
}

/* ------------------------------------------------------------ */

/*div*/
.envelope{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    padding: 2em;
    background-color: hsl(0, 0%, 96%);
}

/*div*/
.content__description{
    width: 50%;
    font-size: 1.3em;
    line-height: 1.3em;
}

/*div*/
.content__search{
    width: 47%;
    margin-left: 2em;
}

/*label*/
.search{
    display: block;
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: bold;
}

/*div*/
.align__content{
    display: flex;
    align-content: space-between;
    align-items: center;
}

/*input*/
.campo-search{
    font-size: 2em;
    padding: .2em;
    border-radius: 5px;
}

/*button*/
.button-search{
    display: inline-block;
    margin-left: 1em;
    padding: .5em 1em;
    color: #fff;
    font-size: 1.5em;
    background-color: hsl(0, 40%, 46%);
    box-shadow: 0px 2px 3px black;
}

.button-search:hover{
    background-color: hsl(0, 40%, 50%);
    box-shadow: 0px 3px 3px black;
}
/* -------------------------------------------------------------- */

/* section */
.content__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* article */
.card{
    display: flex;
    flex: 0 1 calc(33% - 1em);
    margin-bottom: 1em;
    background-color: #fff;
}

.content__imagen{
    
}


/* div */
.description{
    padding: 1em;
}

.description > h2{
    margin-bottom: 1em;
}

.description p{
    line-height: 1.5em;
}